[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
	ignore = dirty
[submodule "external/cookbook"]
	path = external/cookbook
	url = https://github.com/arimah/ss14-cookbook
	branch = main
	ignore = dirty
[submodule "external/mapviewer"]
	path = external/mapviewer
	url = https://github.com/space-wizards/SS14.MapViewer
	branch = main
	ignore = dirty
[submodule "external/document-simu"]
	path = external/document-simu
	url = https://github.com/yagwog/RMC14-document-simu
	branch = main
	ignore = dirty
[submodule "external/mapserver"]
	path = external/mapserver
	url = https://github.com/space-wizards/SS14.MapServer
	branch = master
	ignore = dirty
[submodule "external/robust-cdn"]
	path = external/robust-cdn
	url = https://github.com/space-wizards/Robust.Cdn
	branch = master
	ignore = dirty
